@import url(../runo/styles.css);
@import url('./fonts/ubuntu-fontfacekit/stylesheet.css');
@import url('./colorpicker.css');
.v-app {	
  background: #ffffff;
  font-family: 'UbuntuLight',verdana, tahoma, arial;
  font-size: 14px;	
  margin: 0px;
  padding: 0px;
}

.v-verticallayout-margin-container {
	padding: 100px;
}

.v-verticallayout-container .v-verticallayout-margin-left   {
	padding-left:   50px;
}
.v-verticallayout-container .v-verticallayout-margin-right  {
	padding-right:  50px;
}
.v-verticallayout-container .v-verticallayout-margin-top    {
	padding-top:    30px;
}
.v-verticallayout-container .v-verticallayout-margin-bottom {
	padding-bottom: 30px;
}

.v-verticallayout-spacing-on {
    padding-top: 30px;
}

.v-gridlayout-margin-container {
	padding: 100px;
}

.v-gridlayout-container .v-gridlayout-margin-left   {
	padding-left:   50px;
}
.v-gridlayout-container .v-gridlayout-margin-right  {
	padding-right:  50px;
}
.v-gridlayout-container .v-gridlayout-margin-top    {
	padding-top:    30px;
}
.v-gridlayout-container .v-gridlayout-margin-bottom {
	padding-bottom: 30px;
}

.grid-settings .v-gridlayout-spacing-on {
    padding-top: 30px;
}

.v-verticallayout-absolute-date .v-verticallayout-margin-left, .v-verticallayout-relative-date .v-verticallayout-margin-left   {
	padding-left:   50px;
}
.v-verticallayout-absolute-date .v-verticallayout-margin-top, .v-verticallayout-relative-date .v-verticallayout-margin-top   {
	padding-top:   40px;
}

.footer > div > div {
	border-bottom: 1px solid #aaaaaa;
	height: 32px;
}
.copyright {
	font-size: 13px;
}

.v-addthis {
	padding-left: 50px;
}

.v-addthis .v-label {
	padding-top: 20px;
	padding-bottom: 50px;
}
/* ----------------------------------*/
/* Specific styles for dotart */

.uploaded-image .name {
	color: #436DE1;	
	font-weight: bold;
	font-size: 12px;
}

.settings .title {
	font-size: 13px;
	font-weight: bold;
	color: #436DE1;
}

.directory .title {
	font-size: 16px;
	font-weight: bold;
	color: #436DE1;
}

.directory .description {
	font-size: 12px;
}
.directory a, .directory a:visited {
	color: #436DE1;
	font-weight: bold;
	text-decoration: none;
}

.general_tab {
border-left: 8px solid #436DE1;
}
.timeline_tab {
border-left: 8px solid #e11931;
}
.styles_tab {
border-left: 8px solid #ffc129;
}
.advanced_tab {
border-left: 8px solid #01a315;
}
.countdown-example {
	font-size: 48px;
	padding-top: 80px;
	font-weight: bold;
	text-align: center;
}
.v-label-home1 {
	font-size: 38px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 50px;
}
.v-label-home2 {
	font-size: 12px;
	text-align: center;
}
.v-label-share {
	font-size: 12px;
}
.v-label-about {
	padding-top: 30px;
}
.v-window-preview, .preview {
	line-height: 0px;
}

.news .v-panel-caption-light {
	border-bottom: 2px solid #464F52;
	margin: 0;
	padding-left: 18px;
}

.v-panel-caption-news span {
  color: #464F52;
  font-weight: bold;	
}

.v-panel-news .v-label {
  font-size: 12px;
}

/* ----------------------------------*/

.homebtn .v-button-caption {
	font-size: 28px;
}

.homebtn {
	padding-top: 40px;	
	padding-bottom: 40px;	
}
.pub {
}

.news {
}

.screencast {
	padding-left: 0px;
	padding-right: 140px;
}

.topbar {
  background: #F8F9F9 url(img/toolbar_bg.jpg);
}
/* The margin definition */
.v-horizontallayout-topbar .v-horizontallayout-margin-right {
	padding-right: 30px;
}
.logo {
	padding-left: 30px;
}
.topbar .v-button-link .v-button-wrap {
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration: none;
	margin-right: 20px;
	margin-left: 20px;
}
.topbar .v-button-link .v-button-caption {
	text-decoration: none;
}
.topbar .v-button-link .v-button-wrap:hover {
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration: none;
}
.v-button-link:focus {
    outline: none;
}

.topbar .v-button-menu0 .v-button-wrap:hover, .topbar .v-button-menu0-selected .v-button-wrap {
	border-bottom: 4px solid #436DE1;
}
.topbar .v-button-menu1 .v-button-wrap:hover, .topbar .v-button-menu1-selected .v-button-wrap {
	border-bottom: 4px solid #E11931;
}
.topbar .v-button-menu2 .v-button-wrap:hover, .topbar .v-button-menu2-selected .v-button-wrap {
	border-bottom: 4px solid #FFC129;;
}
.topbar .v-button-menu3 .v-button-wrap:hover, .topbar .v-button-menu3-selected .v-button-wrap {
	border-bottom: 4px solid #01A315;
}
.v-button-caption {
  font-size: 14px;
  font-family: 'UbuntuLight',verdana, tahoma, arial;
}
.menu0-selected .v-button-caption, .menu1-selected .v-button-caption, .menu2-selected .v-button-caption, .menu3-selected .v-button-caption {
 font-size: 14px;
 font-weight: bold;
}


.v-tabsheet-tabitem {
background: #F8F9F9 url(img/bg_e6e6e6_1x400.png) 50% 50% repeat-x;
color: #555;
font-size: 14px;
}
.v-tabsheet-tabitem:hover {
background: #F8F9F9 url(img/bg_ffffff_1x100.png) 50% 50% repeat-x;
color: white;
}
.v-tabsheet-tabitem-selected {
background: transparent url(panel/img/top-left.png) no-repeat;
color: #212121;
font-size: 18px;
}
.v-tabsheet-tabitem-selected:hover {
background: transparent url(panel/img/top-left.png) no-repeat;
color: #212121;
}
.v-tabsheet-spacertd div {
background: transparent url(img/bg_cccccc_1x100.png) 50% 50% repeat-x;
}
.v-window-outerheader {
    height: 23px;
    margin-left: 9px;
    padding: 15px 40px 11px 12px;
    background: transparent url(window/img/top-right.png) no-repeat right top;
}
.v-window-header {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: -0.03em;
    color: white;
    text-shadow: none;
}
.v-window-wrap {
    background: transparent url(window/img/top-left.png) no-repeat;
}
.v-window-closebox {
    position: absolute;
    top: 21px;
    right: 24px;
    width: 12px;
    height: 12px;
    background: transparent url(window/img/close.png);
}
.v-colorpicker-popup-dotart .v-tabsheet .v-tabsheet-deco {
	visibility: hidden;
}

/* Feature info view */
.v-panel-content-feature-info {
background: #e6e6e6;
}

.v-panel-caption-feature-info {
color: #212121;
font-size: 18px;
}

.feature-info .v-label {
	font-size: 12px;
}

.v-panel-caption,.v-panel-caption-light {
color: #212121;
}

.v-table-caption-container {
font-size: 1.0em;
}

.v-verticallayout-relative-date .v-label {
	padding-bottom: 6px;
}

.dred {
	border: 1px solid red;
}
.dyellow {
	border: 1px solid yellow;
}
.dgreen {
	border: 1px solid green;
}
.dblue {
	border: 1px solid blue;
}

.v-verticallayout-absolute-date .v-label {
	padding-bottom: 6px;
}
.v-select-optiongroup .v-select-option {
	padding-top: 6px;
    display: block;
    white-space: nowrap;
}

.v-Notification-tray h1 {
font-size: 18px;
font-weight: normal;
background: none;
margin: 4px;
}

.v-Notification-error {
    background: #e11931 url(../runo/notification/img/close-error.png) no-repeat right 5px;
    padding-right: 50px;
}

.bg-image {
	border: 1px solid #aaaaaa;
	text-align: center;
}

.small-link .v-button-caption {
	font-size: 12px;
	padding-left: 10px;
}
