* { 
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    color: #343434;
    font: 13px arial;
    background: #ffffff url(../img/bgBandeauHaut.jpg);
    background-repeat:  repeat-x ;
}
a {
    color: #205aaf;
    text-decoration: none;
}
a img {
    border: 0;
}
a:hover {
    color: #343434;
}

#wrapper {
    padding-top: 7px;
}
#container {
    position: relative;
}
#countdown {
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#countdown img.ball {
    width: 18.0px;
    height: 18.0px;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#countdown img.separator {
    width: 18.0px;
    height: 18.0px;
}
div.screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F00;
}

body.degrade #gradient {
    display: none;
}
#countdown h3 a,
#header h3 a {
    color: #898989;
    padding-right: 45px;
    position: absolute;
    z-index: 99;
}
#canvas-content {
    margin: 100px auto 0 auto;
    width: 930px;
    z-index: 99;
    position: relative;
}
#content {
    padding: 40px;
    background: #FFF;
    width: 850px;
    margin: 50px auto 100px auto;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    position: relative;
}
#countdown-watch-again {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    background: rgba(153,153,153,0.8);
    color: #FFF;
    -webkit-border-radius: 5px;
    width: 200px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    z-index: 10000;
}
#countdown-watch-again img {
    float: left;
    margin-right: 10px;
}
#countdown-watch-again a {
    color: #FFF;
    text-decoration: none;
}
#index #canvas-content {
    margin-top: 300px;
    color: #898989;
    font-family: 'Droid Sans';
}